{% extends 'base.html.twig' %}

{% block body %}
{#    {% for user in users %}#}
{#        {{ user.uid }}#}
{#        {{ user.username }}#}
{#    {% endfor %}#}

    <div class="container">
        <div class="message-form">
            {{ form_start(chatroomForm, {
                'attr': {class: 'form-message'}
            }) }}
            <h1 class="h3 mb-3 font-weight-normal">Send a message</h1>
            {% for message in messages %}
                {% if message.senderId == app.user %}
                    <p align="right">
                        {% endif %}
                        {{ message.senderId.username }}:
                        {{ message.content }} <br/>
                sent: {{ message.sentAt|date('d-m-Y H:s') }}
                </p>
            {% endfor %}
                {{ form_row(chatroomForm.message) }}
            <button class="btn btn-lg btn-success btn-block message-send" type="submit">
                Send message
            </button>
            {{ form_end(chatroomForm) }}
        </div>
    </div>

{% endblock %}