{% extends 'base.html.twig' %}

{% block body %}
{#    {% for user in users %}#}
{#        {{ user.uid }}#}
{#        {{ user.username }}#}
{#    {% endfor %}#}

    {{ form_start(chatroomForm) }}

    <h1 class="h3 mb-3 font-weight-normal">Send a message</h1>
    {{ form_row(chatroomForm.message) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Send message
    </button>
    {{ form_end(chatroomForm) }}
{% endblock %}