{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <body class="message-page">
    <div class="container">
        <div id="msg-form" class="message-form">
            {{ form_start(chatroomForm, {
                'attr': {class: 'form-message'}
            }) }}

            <h1 class="h3 mb-3 font-weight-normal msg-head">Send a message</h1>
            {% for message in messages %}
                {% if message.senderId == app.user %}
                    <p class="user-name" align="right">{{ message.senderId.username }}</p>
                    <p class="sent-messages" align="right">{{ message.content }}</p>
                    {% else %}
                        <p class="user-name" align="left">{{ message.senderId.username }}</p>
                        <p class="received-messages" align="left">{{ message.content }}</p>
                        {% endif %}
{#                {{ message.content }}#}


                {% if message.senderId == app.user %}
                    <p class="message-status" align="right">
                {% else %}
                    <p class="message-status" align="left">
                {% endif %}
                sent: {{ message.sentAt|date('D H:i') }}
                status: {{ message.seen }}
                </p>
                </p>

            {% endfor %}

                {{ form_row(chatroomForm.message, {
                    'attr': {placeholder: 'Send a message...'}
                }) }}
            <button id="submit_form" class="btn-block message-send btn-hover" type="submit">

                <span>Send Message</span>
                <i class="fas fa-paper-plane"></i>
            </button>
            {{ form_end(chatroomForm) }}
        </div>
    </div>
    </body>
{% endblock %}