{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <body class="message-page">
    <div class="container">
        <div id="msg-form" class="message-form">
            {{ form_start(chatroomForm, {
                'attr': {class: 'form-message'}
            }) }}
            <div class="h3 mb-3 font-weight-normal msg-head">Send a message</div>
            {% for message in messages %}
                {% if message.senderId == app.user %}
                    <p class="user-name" align="right">{{ message.senderId.username }}</p>
                    <p class="sent-messages" align="right">{{ message.content }}</p>
                    <p class="message-status" align="right">
                    {% else %}
                        <p class="user-name" align="left">{{ message.senderId.username }}</p>
                        <p class="received-messages" align="left">{{ message.content }}</p>
                        <p class="message-status" align="left">
                        {% endif %}

                sent: {{ message.sentAt|date('D H:i') }}
                status: {{ message.seen }}
                </p>
                </p>
            {% endfor %}

            <div class="message-form-input">
                {{ form_row(chatroomForm.message, {
                    'attr': {placeholder: 'Type your message...', class: 'msg-type'}
                }) }}
            <button id="submit_form" class="btn-block message-send btn-hover" type="submit">
                <span>Send Message</span>
                <i class="fas fa-paper-plane"></i>
            </button>
            {{ form_end(chatroomForm) }}
            </div>
        </div>
    </div>
    </body>
{% endblock %}