{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block loggedin %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="sol-sm-12 user-table">
                <h1>Search for a user</h1>
                {{ form_start(UserSearchForm) }}
                {{ form_row(UserSearchForm.search, {
                    attr: {
                        placeholder: 'Search for a user...'
                    }
                }) }}
                {{ form_end(UserSearchForm) }}
                <h1>List of Users</h1>
                <div class="columns columns-right btn-group float-right">
                    <a href="{{ path('app_userlist') }}">
                        <button class="btn"> Refresh list
                            <i class="fa fa-sync"></i>
                        </button>
                    </a>
                </div>
                <table id="table" class="table table-bordered">
                    <tr class="column-names">
                        <th>Username</th>
                        <th>Email</th>
                        <th>Message</th>
                    </tr>
                    <tbody>
                    {% for user in users %}
                        {% for usermsg in app.user.hasUnreadMessagesFrom %}
                            {% if app.user.id != usermsg and user.id == usermsg %}
                                <tr class="unread-msg-alert">
                            {% endif %}
                        {% endfor %}
                        {% if app.user != user %}
                            <td>{{ user.Username }}</td>
                            <td>{{ user.Email }}</td>
                            <td><a class="message-btn-text" href="{{ path('app_chat_room', {'recipient': user.id}) }}">
                                    <button class="btn btn-success message-btn">Message this user
                                        <i class="fas fa-comment"></i></button>
                                </a></td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
